<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Update</title>
</head>
<body>
<form action="#" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}" method="post">
  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name">
  <br/>
  <label for="lastname">Enter Lastname:</label>
  <input type="text" th:field="*{lastname}" id="lastname">
  <br/>
  <label for="email">Enter mail</label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <input type="submit" value="Update">
</form>
</body>
</html>